@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='text'], select, input[type='number'], textarea {
  border: 1px solid lightgrey;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

hr {
  margin-top: 30px;
  border-bottom: 1px dashed lightgray;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
